body {
  padding: 25px;
  margin: 0;
  background-color: hsl(212, 45%, 89%);
  font-family: "Outfit", sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.design {
  background-color: hsl(0, 0%, 100%);
  padding: 20px;
  width: 250px;
  padding: 30px;
  border-radius: 25px;
}

h3 {
  font-weight: 700;
  color: hsl(218, 44%, 22%);
}

p {
  font-weight: 400;
  font-size: 15px;
  color: hsl(220, 15%, 55%);
}

img {
  border-radius: 25px;
  padding-bottom: 10px;
}
.attribution {
  color: black;
}

/*  <div class="attribution">
    Challenge by <a href="https://www.frontendmentor.io?ref=challenge" target="_blank">Frontend Mentor</a>.
    Coded by <a href="#">Harold Moreno</a>.
  </div>
  */

@media only screen and (max-width: 375px);
